.chat-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  width: 100%;
  height: calc(100vh - 30px);
  place-items: center;
}

.Chat-Titles {
  grid-row: 1/1;
  user-select: none;
}

.chat-msgs {
  grid-column: 1/1;
  grid-row: auto;
  
}

.chat-input {
  grid-row: 12/12;
}