#pin-div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  user-select: none;
}

#big-title {
  grid-column: 2/2;
  grid-row: 1/1;
  font-size: 5em;
  font-family: "Lexend Giga", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(90deg, #b40000 0%, #c42a2a 25%, #aaaaaa 50%, #636363 75%, #4d4d4d 100%);
  background-size: 150% 150%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: gradientText 5s ease infinite;
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


#cwa-logo-full {
  grid-column: 2/2;
  grid-row: 2/2;
  width: 450px;
  height: auto;
  z-index: -1;
}


#pin-form {
  /* position: relative; */
  grid-column: 2/2;
  grid-row: 3/3;
  bottom: 150px;
}

@media (min-width: 1440px) {
  #pin-form {
    bottom: 250px;
  }
}

#pin-input {
  width: 16rem;
  height: 3rem;
  background: rgba(20, 20, 20, 0.3);
  place-items: center;
  border: 2px solid rgba(255, 31, 31, 0.7);
  outline: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 1.1rem;
  text-align: center;
  transition: all 0.2s ease;
  box-shadow: 
    0 0 5px rgba(255, 31, 31, 0.3),
    inset 0 0 10px rgba(255, 31, 31, 0.2);
  padding: 0 15px;
}

#pin-input::placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.4);
}

#pin-input:focus {
  border-color: rgba(255, 31, 31, 0.9);
  background: rgba(20, 20, 20, 0.4);
  box-shadow: 
    0 0 8px rgba(255, 31, 31, 0.4),
    inset 0 0 15px rgba(255, 31, 31, 0.3);
  transform: scale(1.01);
}

#pin-input:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


/* orion */
.orion-container {
  position: absolute;
  width: 250px;  /* Adjust width */
  height: 250px; /* Adjust height */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;  /* Adjust to be below Welcome text */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.orion-animation {
  max-width: 200px;
  max-height: 200px;
}
