#details-grid {

}

#card {

}

.password {
  -webkit-text-security: disc;
  width: 4rem;
  clip-path: view-box;
  user-select: none;
}

.dialog {
  view-transition-name: dialog;
  position: relative;
  background: rgb(10, 10, 10);
  padding: 5px;
  width: 30rem;
  height: 30rem;
  border-radius: 15px;
}

.dialog::backdrop {
  backdrop-filter: brightness(25%);
}

#dialog-close {
  margin: 0px 10px 10px 10px;
  color: white;
  float: right;
  z-index: 1;
}