:root {
  --emnavbar-H: 2rem;
}

#employee-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: var(--emnavbar-H);
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  background: rgba(150, 150, 150, 0.5);
}

.emnavbar-btn {

}

.emnavbar-btn:hover {
  cursor: pointer;
}

.activeDisp::after {
  display: block;
  /* position: absolute; Need to make it anchor to the buttons */
  content: '';
  border-bottom: 4px solid rgb(160, 0, 0);
  border-radius: 10px;

}

#employee-body {
  position: relative;
  top: var(--emnavbar-H);
}