/* Remove the overflow-x for better UI, as of Feb 12 2025 the overflow-x isnt set so it's auto
  so on devices where the UI isnt (fully) responsive it showes the X scrollbar
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
:root {
  --page-marginL: 15px;
}
@layer base {
  :root {
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
  }

  .dark {
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
  }
}

/* using this for the dm.lazy for now */

.bg-gradient-messages {
  @apply bg-gradient-to-b from-[#8B0000] via-[#600000] to-[#B22222] text-white;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* Adjust transparency */
  backdrop-filter: blur(10px); /* Creates the blurred effect */
}

.modal-content {
  background: rgba(30, 30, 30, 0.85); /* Dark but slightly transparent */
  border: 1px solid rgba(255, 0, 0, 0.3); /* Red glowing border */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Soft red glow */
}

body {
  width: 100vw;
  height: 100vh;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  background: linear-gradient(180deg, #090909 0%, #2f0606 100%);
  color: whitesmoke;
  #root {
    width: 100%;
    height: 100%;
  }
}

.main-div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.075fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow-x: hidden;
}

@media (min-width: 1440px) {
  .main-div {
    grid-template-columns: 0.05fr 1fr;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  color: black;
  outline: transparent;
  background: whitesmoke;
}

select, option {
  color: black;
}

ol {
  list-style-type: decimal;
  margin-left: var(--page-marginL);
}

ul {
  list-style-type: disc;
  margin-left: var(--page-marginL);
}

.ul-2 {
  list-style-type: circle;
  margin-left: var(--page-marginL);
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

button {
  outline: transparent;
}

.neonbtn {
  --red: rgb(207, 0, 0);
  font-size: 15px;
  padding: 0.8em 4.9em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
 
  border-radius: 0.7em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--red);
  background: linear-gradient(to right, rgba(253, 27, 27, 0.1) 1%, transparent 40%,transparent 60% , rgba(253, 27, 27, 0.1) 100%);
  color: rgb(92, 91, 91);
  box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.4), 0 0 9px 3px rgba(253, 27, 27, 0.1);
}

.neonbtn:hover {
  color: rgba(255, 22, 22, 0.85);
  box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.6), 0 0 9px 3px rgba(253, 27, 27, 0.2);
  
}

.neonbtn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(253, 27, 27, 0.1) 40%,rgba(253, 27, 27, 0.1) 60% , transparent 100%);
}

.neonbtn:hover:before {
  transform: translateX(15em);
}

.data-div {
  background: rgba(10, 10, 10, 0.5);
  width: max-content;
  display: inline-flex;
  position: relative;
  top: 15px;
  border-radius: 15px;
  border: 2px solid rgba(150, 0, 0, 0.85);
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card {
  display: grid;
}

/* .form-Outdiv {

} */

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.form-input {
  display: flex;
  color: white;
  caret-color: white;
  background: rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(10, 10, 10, 0.5);
  border-radius: 10px;
  padding-left: 5px;
  outline: none;
  width: 15rem;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.form-select {
  display: flex;
  color: white;
  caret-color: white;
  background: rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(10, 10, 10, 0.5);
  border-radius: 10px;
  padding-left: 5px;
  outline: none;
  width: 8rem;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.form-option {
  display: flex;
  color: white;
  background: rgb(10, 10, 10);
  border-bottom: 2px solid rgba(10, 10, 10, 0.5);
  border-radius: 10px;
  padding-left: 5px;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.form-radio {
  margin-left: 5px;
  margin-right: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* admin tag */

/* ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
