#sidebar {
  /* position: fixed;
  top: 0;
  width: 7.5%;
  height: 100%; */
  grid-column: 1/1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  border-right: solid 2px rgb(180, 0, 0);
  user-select: none;
}

/* Still learning how this works. Idk why min-width instead of max-width in this case */
@media (min-width: 1440px) {
  #sidebar {
    grid-template-rows: repeat(5, 0.075fr);
  }
}

.sidebar-icon {
  width: 50px;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.15s ease-out;
}

.sidebar-icon:hover {
  background: rgba(128, 128, 128, 0.25);
}

@media (min-width: 1440px) {
  .sidebar-icon {
    width: 60px;
  }
}

/* the 'active' class comes built-in with Tanstack Rounter!!! SO HYPE! */
.active {
  background: rgba(128, 128, 128, 0.25);
  border-radius: 10px;
}

#cwa-logo {
  width: 60px;
  border-radius: 50%;
}

#main-section {
  grid-column: 2/2;
  overflow-y: auto;
}

